{% extends 'core/base.html' %}

{% block content %}
<div class="glass-panel" style="padding: 2rem;">

    <!-- Action Tabs -->
    <div class="tabs">
        <button class="tab-btn active" data-tab="download-tab">
            <i class="fab fa-youtube"></i> Download
        </button>
        <button class="tab-btn" data-tab="upload-tab">
            <i class="fas fa-upload"></i> Upload
        </button>
        <button class="tab-btn" data-tab="process-tab">
            <i class="fas fa-magic"></i> Process
        </button>
    </div>

    <!-- Tab Contents -->
    {% include "core/components/tab_download.html" %}
    {% include "core/components/tab_upload.html" %}
    {% include "core/components/tab_process.html" %}

</div>

{% include "core/components/media_library.html" %}

{% endblock %}

{% block scripts %}
{% include "core/components/modals.html" %}
{% include "core/components/scripts.html" %}
{% endblock %}